<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Imma-Zone</title>
  <link rel='stylesheet' href='style.css' >
</head>
<body>
  <div class="grid-container">
    <header class="header">
      <div class="brand">
        <a href="index.html">imma zone</a>
      </div>
      <div class="header-links">
        <a href="cart.html">Cart</a>
        <a href="login.html">Log in</a>
      </div>
    </header>
    <main class="main">
      <div class="content">
        <ul class="products">
          <li>
            <div class+"product">
              <img src="images/di.jpg" alt="product1">
              <div class="product-name">Slim shirt</div>
              <div class="product-brand">Nike</div>
              <div class="price">$60</div>
            </div>
          </li>
        </ul>
      </div>
    </main>
    <footer class="footer">
      All rights reserved.
    </footer>
  </div>
</body>
</html>